* {
  margin: 0;
  padding: 0;
}

.disabled {
  opacity: 0;
}

.App {
  text-align: center;
}

.Home {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.Arrows {
  position: fixed;
  width: 100vw;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.RecipesSlider {
  position: fixed;
  display: grid;
  grid-auto-flow: column;
  margin-top: 25vh;
  overflow: scroll;
  transition: all ease-in-out 0.3s,
}

.Paper {
  width: 60vw;
  height: 75vh;
  overflow-y: scroll;
  margin: auto;
  background-color: lightyellow;
}

.Recipe {
  width: 100vw;

}

.Instruction {
  white-space: pre-wrap;
}
